<h1><%= current_user.name%>'s Page</h1>





<h1>Uploaded Images</h1>


<ul class="images">

  <% @user.images.each do |image|%>
  <li class="crop">
        <%= image_tag image.image.url(:medium), class: "img-p"%>
      </li>

        <br>| <%= image.description %>
        <% if user_admin %>
          <%= link_to "Delete", image_path(image), class: "btn btn-xs btn-danger", method: :delete %>
          <%= link_to "Edit", edit_image_path(image), class: "btn btn-xs btn-primary" %>
        <% end  %>



  <% end %>
</ul>


<p><%= link_to "Upload", new_image_path %></p>
