<div class="home">
<% if @images.any? %>

    <% @images.each do |image| %>
    <div class="row">
     <div class="home-scroll">
       <div class="home-avatar">
         <%= image_tag image.user.avatar.url(:thumb), class:"round-image-50"%><span class="upload-time"><%= distance_of_time_in_words(image.created_at, Time.now) %> ago</span>
       <hr>
       </div>
       <%= image_tag image.image.url(:large), class: "each-img" %>
       <div class="description"><%= link_to image.user.name, user_path(image.user) %> <%= image.description %></div>
       <hr>
       <p class="heart glyphicon glyphicon-heart-empty"></p><span class="comment">Add a comment...</span>


     </div>
       <br><br><br>
   </div>
   <% end %>

<% end %>
</div>
