<div class="home">
  <% if @images.any? %>
    <% @images.each do |image| %>
      <div class="row">
        <div class="home-scroll">

          <div class="home-avatar" id="<%= image.id %>">
            <%= image_tag image.user.avatar.url(:thumb), class:"round-image-50"%><span class="upload-time"><%= distance_of_time_in_words(image.created_at, Time.now) %> ago</span>
          </div>
          <%= image_tag image.image.url(:large), class: "each-img" %>

          <!-- how many likes -->
          <div id="like-count">
            <p><%= image.get_likes.size %> likes</p>
          </div>
          <!-- liked by who? -->
          <!-- <p><% image.votes_for.up.by_type(User).voters.each do |liked_by| %></p>
            <p><%= liked_by.name %></p>
          <% end %> -->

          <!-- username and caption -->
          <div class="description">#user and caption: <%= link_to image.user.name, user_path(image.user) %> <%= image.description %></div>


          <!-- comments -->
          <ul id="image_comments">
            <% if image.comments.any? %>
              <% image.comments.each do |comment| %>
                <li><%= User.find(comment.user_id).name %> - <%= comment.text %></li>
              <% end %>
            <% else %>
              <p>none yet!</p>
            <% end %>
          </ul>

          <hr>

          <!-- like/heart button -->
          <div class="heart-and-comment">


            <%= link_to like_user_image_path(image.user_id, image), method: :patch, id: "heart-link", remote: true do %>
              <i class="heart glyphicon glyphicon-heart-empty"></i>
            <% end %>


            <%= link_to "Add a comment...", new_image_comment_path(image), id: "new_comment_link", class: "btn comment-btn btn-default", remote: true %>

          </div>
        </div>
            <br><br><br>
      </div>
    <% end %>
  <% end %>
</div>
