<p><%= link_to "Sign Up", new_user_registration_path %></p>
<p><%= link_to "Sign In", new_user_session_path %></p>
<p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>

<h1>test</h1>
<% if current_user %>
  <p>Logged in as <%= current_user.name %>.</p>
<% end %>

<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <li><%= image.description %></li>
    <% end %>
  </ul>
<% end %>


<p><%= link_to "Upload", new_image_path %></p>
