<div class="blue collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">

      <div id="logo"><li><%= link_to "Mutant-gram", '/' %></li></div>

    </ul>
    <ul class="white nav navbar-nav navbar-right">

        <% if current_user %>
          <li><%= link_to current_user.name, user_path(current_user) %> </li>

          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% if current_user.avatar == nil %>
            <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
          <% end %>
        <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
    </ul>
</div>
