<!DOCTYPE html>
<html>
<head>
  <title>Instagram-clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>
<body>


<%= render "layouts/menu" %>


  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



</body>
</html>
